DATABASE_URL = postgresql://usuario_db:Av%40671206@localhost:5432/sistema_horas
#SECRET KEY CREADA CON PYTHON
SECRET_KEY= clave
DOMINIO_CORREO = unah.hn

#MAIL 
MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=tu_usuario
MAIL_PASSWORD=tu_password
MAIL_FROM=noreply@asebep.com

LIMITE_PINES_POR_USUARIO = 2

BASE_URL=http://localhost:8000
